.output_container{
    height: 80px;
    width: 100%;

    display:grid;
    grid-template-rows: repeat(2, 1fr);

    padding: 10px;
    border-radius: 5px;
    border: 2px solid darkgray;

    background-color:transparent;
    outline-color: darkgray;
    outline-width: 1px;

    grid-column: 1/5;

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

    .output {
        width: 100%;

        outline: none;
        border: none;
        background-color: transparent;

        color: white;
        font-size: 25px;
        font-weight: bolder;
        text-align: end;
        font-family: 'Courier New', Courier, monospace;
    }

    .history {
        color: grey;
    }
}