.output {
    height: 80px;
    width: 100%;

    padding: 10px;
    border-radius: 5px;
    border: 2px solid darkgray;

    background-color:transparent;
    outline-color: darkgray;
    outline-width: 1px;

    grid-column: 1/5;

    color: white;
    font-size: 20px;
    text-align: end;
}