*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 100vw;
    height: 100vh;
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
}

.container {
    width: 300px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
}